---
title: Welcome!
section: intro
order: 0
---
<div class="hero-unit">
	<h2>AHSE 4590</h2>
	<p>This is the course web site for the Fall 2013 Edition of the Olin E!Capstone (AHSE 4590).</p>
	<p>
		<%= link_to("Enter the site!", symbol_to_item(:overview, :intro), class: "btn btn-primary btn-large") %>
	</p>
</div>

I made this little site to put notes for each class. You can see them on the right.
